.reportsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4vh;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5vh 1vh;
  border-radius: 1vh;
}
.reportDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.reportHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.reportTitle {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1vh;
}
.uploadIcon {
  margin-left: 2vh;
}
.radioGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-bottom: 3vh;
}
.radioGroup label {
  display: flex;
  align-items: center;
}
.radioGroup input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 3vh;
  height: 3vh;
  border: 2px solid #7747c0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.radioGroup input[type='radio']::before {
  content: '';
  width: 1.5vh;
  height: 1.5vh;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease-in-out;
}

.radioGroup input[type='radio']:checked::before {
  background-color: #7747c0;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filterLabel {
  display: block;
  margin: 1vh;
}

.searchInputs {
  display: flex;
  justify-content: space-around;
}
.input {
  width: 18vw;
  font-family: IranSans;
  margin-bottom: 10px;
  padding: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.searcBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2vh;
}
.searchButton {
  background-color: #7747c0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  color: white;
  border: none;
  padding: 1vh;
  width: 18%;
  border-radius: 1vh;
  cursor: pointer;
}

.tableContainer {
  margin-top: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.table th:first-child,
.table td:first-child {
  border-right: 1px solid #ddd;
}
.table th:last-child,
.table td:last-child {
  border-left: 1px solid #ddd;
}
.table th {
  font-weight: lighter;
  padding: 2vh;
  background-color: #f3f4f5;
}
.table td:hover {
  background-color: #f3f4f5;
}
.table td p {
  border-radius: 1vh;
}
.statusPending {
  color: #e2a830;
  background-color: #faf3cb;
}

.statusSuccess {
  background-color: #dafee5;
  color: #0f973d;
}

.statusFailed {
  color: #d42620;
  background-color: #fee3e2;
}

.statusCancelled {
  color: #7747c0;
  background-color: #e1dcf8;
}

.statusReturned {
  color: #2f3237;
  background-color: #eaeaea;
}

.pagination {
  margin-top: 4vh;
  text-align: center;
  display: flex;
  justify-content: center;
}
.next {
  transform: rotate(90deg);
}
.last {
  transform: rotate(270deg);
}
.next:hover,
.last:hover {
  cursor: pointer;
  scale: 1.2;
}
.pageNumber {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2vh;
  border: 1px solid #ddd;
  background-color: #e1dcf8;
  border-radius: 4px;
  cursor: pointer;
}

.pageNumber:hover {
  background-color: #f4f4f4;
}
@media (max-width: 999px) {
  .radioGroup {
    width: 100%;
  }
  .searchInputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  }
  .input {
    width: 100%;
  }
  .searchButton {
    width: 30%;
  }
}
